[workspace]
resolver = "2"

members = [
    "ruwm",
    "ruwm-std",
    "ruwm-esp32",
]

exclude = [ "ruwm-web" ]

[patch.crates-io]
smol = { git = "https://github.com/esp-rs-compat/smol" }
socket2 = { git = "https://github.com/esp-rs-compat/socket2" }
polling = { git = "https://github.com/esp-rs-compat/polling" }
embedded-svc = { path = "../embedded-svc" }
#esp-idf-sys = { path = "../esp-idf-sys" }
#esp-idf-hal = { path = "../esp-idf-hal" }
esp-idf-svc = { path = "../esp-idf-svc" }
#embuild = { path = "../embuild" }
#edge-frame = { path = "../edge-frame/edge-frame" }

[profile.release]
opt-level = "s"

[profile.dev]
debug = true # Symbols are nice and they don't increase the size on Flash
opt-level = "z"
