[package]
name = "ruwm"
version = "0.1.0"
authors = ["ivmarkov <ivan.markov@gmail.com>"]
edition = "2018"
resolver = "2"
categories = ["embedded", "hardware-support"]
keywords = ["hal", "embedded"]
description = "A library of subsystems for a water meter controller."
repository = "https://github.com/ivmarkov/ruwm"
license = "MIT OR Apache-2.0"
readme = "README.md"

[dependencies]
anyhow = "1"
log = "0.4"
futures = {version = "0.3", features = ["async-await"] }
embedded-hal = { version = "0.2.7", features = [ "unproven" ] }
embedded-svc = { version = "0.22", features = [ "experimental" ] }
embedded-graphics = "0.7"
profont = "0.5"
postcard = "0.7"
serde = { version = "1", default-features = false }
heapless = "0.7"
enumset = "1"
