[package]
name = "ruwm-esp32"
version = "0.1.0"
authors = ["ivmarkov <ivan.markov@gmail.com>"]
edition = "2018"
resolver = "2"
categories = ["embedded", "hardware-support"]
keywords = ["hal", "embedded"]
description = "A binary crate for the ESP32 implementing a water meter controller."
repository = "https://github.com/ivmarkov/ruwm"
license = "MIT OR Apache-2.0"
readme = "README.md"

[features]
#default = ["espidf"]
default = []

espidf = []

[dependencies]
anyhow = "1"
log = "0.4"
futures = {version = "0.3", features = ["async-await"] }
async-broadcast = "0.3.4"
smol = "1.2"
embedded-hal = { version = "0.2" }
embedded-svc = { version = "0.21", features = ["experimental"] }
esp-idf-sys = { version = "0.31.5", features = ["binstart"] }
esp-idf-svc = { version = "0.41.2", features = ["experimental", "isr-async-executor"] }
esp-idf-hal = { version = "0.37.3", features = ["experimental"] }
embedded-graphics = "0.7"
display-interface = "0.4"
display-interface-spi = "0.4"
st7789 = "0.6"
edge-frame = { version = "0.1.6", default-features = false, features = ["assets-serve"] }
ruwm = { version = "0.1", path = "../ruwm" }
ruwm-std = { version = "0.1", path = "../ruwm-std" }

[build-dependencies]
anyhow = "1"
embuild = { version = "0.29", features = ["espidf"] }
edge-frame = { version = "0.1.6", default-features = false, features = ["assets-prepare"] }
