[package]
name = "ruwm-esp32"
version = "0.2.0"
authors = ["ivmarkov <ivan.markov@gmail.com>"]
edition = "2018"
resolver = "2"
categories = ["embedded", "hardware-support"]
keywords = ["hal", "embedded"]
description = "A binary crate for the ESP32 implementing a water meter controller."
repository = "https://github.com/ivmarkov/ruwm"
license = "MIT OR Apache-2.0"
readme = "README.md"
rust-version = "1.61"

[features]
default = ["ili9342"]

ulp = []
ttgo = []
ili9342 = []
st7789 = []

[dependencies]
critical-section = "1.1"
heapless = "0.7"
log = "0.4"
futures = {version = "0.3", features = ["async-await"] }
embedded-hal = { version = "0.2" }
embedded-svc = { version = "0.23", features = ["nightly", "experimental"] }
esp-idf-sys = { version = "0.31.9", features = ["binstart"] }
esp-idf-svc = { version = "0.43", features = ["nightly", "experimental", "embassy-time-driver", "embassy-time-isr-queue"] }
esp-idf-hal = { version = "0.39", features = ["edge-executor", "embassy-sync", "critical-section"] } # "embassy-time-isr-queue-timer00", 
embassy-futures = { version = "0.1", git = "https://github.com/ivmarkov/embassy" }
embassy-sync = { version = "0.1", git = "https://github.com/ivmarkov/embassy", features = ["std"] }
embassy-time = { version = "0.1", git = "https://github.com/ivmarkov/embassy" }
static_cell = { version = "1", git = "https://github.com/embassy-rs/static-cell" }
edge-frame = { version = "0.3", default-features = false, features = ["assets-serve"], git = "https://github.com/ivmarkov/edge-frame" }
edge-executor = { version = "0.2" }
embedded-graphics = "0.7"
display-interface = "0.4"
display-interface-spi = "0.4"
mipidsi = "0.3"
ruwm = { version = "0.2", path = "../ruwm", features = ["edge-executor"] }

[build-dependencies]
anyhow = "1"
embuild = { version = "0.30.3", features = ["espidf", "elf"] }
edge-frame = { version = "0.3", default-features = false, features = ["assets-prepare"], git = "https://github.com/ivmarkov/edge-frame" }
