#cargo-features = ["per-package-target"]

[package]
name = "ruwm-web"
version = "0.1.0"
authors = ["Ivan Markov <ivan.markov@gmail.com>"]
edition = "2018"
resolver = "2"
categories = ["embedded", "hardware-support", "ui"]
keywords = ["embedded", "hardware-support", "ui"]
description = "A library of subsystems for a water meter controller."
repository = "https://github.com/ivmarkov/ruwm"
license = "MIT OR Apache-2.0"
readme = "README.md"
#forced-target = "wasm32-unknown-unknown"

[patch.crates-io]
embedded-svc = { path = "../../embedded-svc" }
edge-frame = { path = "../../edge-frame/edge-frame" }


[profile.release]
lto = true
opt-level = 'z'

[dependencies]
anyhow = "1"
log = "0.4"
futures = { version = "0.3", default-features = false }
derive_more = "0.99"
wasm-logger = "0.2"
wasm-bindgen-futures = "0.4"
wee_alloc = { version = "0.4", optional = true }
web-sys = { version = "0.3", features = ["console"] }
yew = { version = "0.19", default-features = false }
yew-router = { version = "0.16" }
gloo-net = "0.1"
strum = { version = "0.23" }
serde = "1"
postcard = { version = "0.7", features = [ "alloc" ] }
embedded-svc = { version = "0.18.2", features = ["experimental"] }
edge-frame = "0.1.3"
ruwm = { version = "0.1", path = "../ruwm" }

# The `console_error_panic_hook` crate provides better debugging of panics by
# logging them with `console.error`. This is great for development, but requires
# all the `std::fmt` and `std::panicking` infrastructure, so it's only enabled
# in debug mode.
#[target."cfg(debug_assertions)".dependencies]
#console_error_panic_hook = "0.1"
